<template>
    <v-container fluid>
        <div class="slide-canva">
            <slide v-if="estado === 'live'"/>
            <div class="erro-live" v-if="estado === 'live-nao-iniciada'">
                <h1>Oops! Essa live ainda não foi iniciada. </h1>
            </div>
            <div class="erro-live" v-if="estado === 'live-finalizada'">
                <h1>Essa live se encerrou. Obrigado!</h1>
            </div>
        </div>
    </v-container>
</template>

<style>

    .slide-canva {
        min-height: 92vh !important;
    }

    .erro-live {
        background-color: white;
        padding: 15px 20px;
        margin: auto;
        position:relative;
        align-content: center;
        display: flex;
    }
</style>

<script>

    import Slide from "../components/Slide/Slide";
    import {mapActions, mapMutations, mapState} from "vuex";

    export default {
        name: 'Apresentacao',

        computed: {
            ...mapState(['estado']),
        },

        components: {
            Slide
        },

        data: () => ({
            idSala: '',
            filaws: '',
            indiceSelecionado: 0,
        }),

        created() {
            this.setEstado('live');
            this.idSala = this.$route.params.idsala;
            this.filaws = '/exchange/alterar_componente_sala.' + this.idSala;

            this.buscarSala(this.idSala).then((response) => {
                const sala = response.data;
                this.setSala(sala);

                if(!sala.apresentando) {
                    this.setEstado('live-nao-iniciada');
                }

            });
        },

        methods: {
            ...mapActions(['buscarSala']),
            ...mapMutations(['setEstado', 'setSala']),

            adicionarComponente: function() {
                const componente = {
                    titulo: 'Sem título',
                    subtitulo: 'Sem nome',
                    tipo: 'slide'
                };
                this.sala.componentes.push(componente);
                this.setAlteracoes(true);
            },

            selecionarComponente: function (indice) {
                this.indiceSelecionado = indice;
            },

            connectCallback() {

                this.client.subscribe(this.filaws, this.onMessageAlteracaoComponente);

            },

            onMessageAlteracaoComponente(message) {
                const messageJson = JSON.parse(message.body);

                if (!this.alteracoes) {
                    this.setComponentes(messageJson.componentes);
                }
            },

            errorCallback(error) {
                console.log(error);
                this.$notify.toast('Erro ao conectar ao WebSocket', {color: 'error'})
            },
        }
    }
</script>
