<template>
    <v-container fill-height fluid>
        <v-row align="center" justify="center">
            <v-col md="6" sm="12">
                <div v-if="estado === 'home'">
                    <v-card class="mx-auto text-center">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                Acessar Salas
                            </p>
                            <div class="text--primary">
                                <v-text-field v-on:keyup.enter="criarUsuarioTratamento" v-model="nomeUsuario"
                                              label="Nome de Usuário" required></v-text-field>
                            </div>
                        </v-card-text>
                        <v-card-actions class="justify-center">
                            <v-btn :loading="requisicoes['criarUsuario']" color="info" @click="criarUsuarioTratamento">Entrar</v-btn>
                        </v-card-actions>
                    </v-card>
                </div>

                <div v-if="estado === 'sala'">
                    <v-card-text>
                        <p class="display-1 text--primary">
                            Criar Sala
                        </p>
                        <div class="text--primary">
                            <v-text-field v-on:keyup.enter="criarSalaTratamento" v-model="nomeSala" label="Nome da Sala" required></v-text-field>
                        </div>
                    </v-card-text>
                    <v-card-actions class="justify-center">
                        <v-btn :loading="requisicoes['criarSala']" color="danger" @click="criarSalaTratamento">Criar Sala</v-btn>
                    </v-card-actions>
                    <v-card v-for="sala in salas" v-bind:key="sala._id" md="3" sm="12" color="#385F73"
                            class="card-salas" dark shaped>
                        <v-card-title class="headline">{{ sala.nome }}</v-card-title>

                        <v-row align="center" justify="end">
                            <span class="subheading">{{ sala.participantes.length }} participantes</span>
                        </v-row>

                        <v-card-actions class="justify-end">
                            <v-btn text @click="entrarEmSalaTratamento(sala._id)">Entrar</v-btn>
                        </v-card-actions>
                    </v-card>
                </div>
            </v-col>

        </v-row>
    </v-container>
</template>

<style>
    .card-salas {
        padding-right: 2%;
    }
</style>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: 'Home',

        data: () => ({
            nomeUsuario: '',
            nomeSala: '',
        }),

        computed: {
            ...mapState(['sala', 'salas', 'usuario', 'estado', 'requisicoes']),
        },

        methods: {
            ...mapActions(['criarUsuario', 'criarSala', 'entrarEmSala']),

            criarUsuarioTratamento: function() {
                if (this.nomeUsuario) {
                    this.criarUsuario(this.nomeUsuario)
                } else {
                    this.$notify.toast('Digite seu nome para iniciar', {color: 'error'})
                }
            },

            criarSalaTratamento: function() {
                if (this.nomeSala) {
                    this.criarSala(this.nomeSala);
                } else {
                    this.$notify.toast('Digite o nome da sala para iniciar', {color: 'error'})
                }
            },

            entrarEmSalaTratamento: function(idSala) {
                this.$router.push(`/sala/${idSala}`);
            },
        }
    }
</script>
