<template>
    <v-container fluid>
        <v-row>
            <v-col sm="8" class="slide-canva-live">
                <slide/>
            </v-col>
            <v-col sm="4">
                <v-card>
                    <v-card-text>
                        <v-row justify="end">
                            <v-col sm="6">
                                <v-btn depressed large color="error" v-on:click="encerrar">Encerrar Apresentação</v-btn>
                            </v-col>
                        </v-row>
                        <v-row v-for="(componente, index) in sala.componentes" v-bind:key="index" justify="space-between" @click="selecionarComponente(index)">
                            <v-col sm="6">
                                <slide-thumbnail v-bind:componente="componente" v-bind:selecionado="indiceSelecionado === index"/>
                            </v-col>
                            <v-col sm="4">
                                <div v-if="componente.tipo === 'quiz' && componente.quiz">
                                    <v-form ref="form">
                                        <v-checkbox hide-details v-model="componente.quiz.options.showResults"
                                                    @change="setAlteracoes(true)" label="Mostrar valores"/>
                                        <v-checkbox hide-details v-model="componente.quiz.options.finalResults"
                                                    @change="setAlteracoes(true)" label="Fechar votação"/>
                                        <v-checkbox hide-details v-model="componente.quiz.options.showTotalVotes"
                                                    @change="setAlteracoes(true)" label="Mostrar total de votos"/>
                                    </v-form>
                                </div>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<style>
    .slide-canva-live {
        height: 95vh;
        background-color: white;
        padding: 15px 20px;
        margin: auto;
        position:relative;
        align-content: center;
        display: flex;
    }

    .sidebar-canva {
        background-color: white;
        /*min-width: 100%;*/
        min-height: 100%;
        padding: 15px 20px;
        margin: auto;
        position: relative;
        align-content: center;
        display: flex;
    }
</style>

<script>
    import {mapActions, mapState, mapMutations} from "vuex";
    import Slide from "../components/Slide/Slide";
    import SlideThumbnail from "../components/Slide/SlideThumbnail";

    export default {
        name: 'Live',

        components: {
            Slide,
            SlideThumbnail
        },

        data: () => ({
            nomeUsuario: '',
            nomeSala: '',
            idSala: '',
            filaws: '',
        }),

        computed: {
            ...mapState(['sala', 'salas', 'usuario', 'estado', 'requisicoes', 'alteracoes', 'indiceSelecionado']),
        },

        created() {
            this.setEstado('live-apresentacao');
            this.setIndice(0);
            this.idSala = this.$route.params.idsala;
            this.filaws = '/exchange/alterar_componente_sala.' + this.idSala;

            this.buscarSala(this.idSala).then((response) => {
                const sala = response.data;
                this.setSala(sala);

                this.$root.$emit('iniciar-live', sala._id);
            });
        },

        methods: {
            ...mapActions(['criarUsuario', 'criarSala', 'entrarEmSala', 'buscarSala', 'salvarComponentes', 'setComponentes', 'finalizarApresentacao', 'selecionarIndiceComponente']),
            ...mapMutations(['setSala', 'setAlteracoes', 'setEstado', 'setIndice']),

            selecionarComponente: function (indice) {
                this.setIndice(indice);
                this.selecionarIndiceComponente({ idSala: this.idSala, indice: indice});
            },

            encerrar() {
                this.finalizarApresentacao(this.idSala).then(() => {
                    this.$router.push(`/sala/${this.idSala}`);
                });
            },
        }
    }
</script>
