<template>
    <v-container fluid>
        <v-row>
            <v-col sm="2">
                <div>
                    <v-text-field dense solo flat v-model="sala.nome" label="Apresentação Atual" v-on:change="setAlteracoes(true)"/>
                </div>
            </v-col>
            <v-col sm="6">
                <a :href="'http://localhost:8080/#/live/' + sala._id" target="_blank"><small><v-icon>mdi-link</v-icon> live/{{ sala._id }}</small></a>
            </v-col>
            <v-col sm="2" class="text-right">
                <small v-if="!alteracoes">Todas as alterações foram salvas</small>
                <small v-if="alteracoes">Existem alterações não salvas</small>
            </v-col>
            <v-col class="text-right" sm="1">
                <v-btn depressed large color="error" v-on:click="apresentar">Apresentar</v-btn>
            </v-col>
        </v-row>
        <v-container fill-height fluid>
            <v-row>
                <v-col md="2">
                    <v-card class="mx-auto" tile>
                        <v-list-item v-on:click="selecionarComponente(index)" v-bind:class="{ 'componente-selecionado': index === indiceSelecionado }" v-for="(componente, index) in sala.componentes" v-bind:key="componente._id">
                            <slide-thumbnail v-on:click="selecionarComponente(index)" v-bind:componente="componente" />
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>
                                    <v-card class="mx-auto text-center" tile>
                                        <v-btn text small v-on:click="adicionarComponente">Adicionar Componente</v-btn>
                                    </v-card>
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-card>
                </v-col>
                <v-col md="7" v-if="sala.componentes" class="slide-canva-sala" >
                    <slide/>
                </v-col>
                <v-col md="3">
                    <toolbar v-if="sala.componentes && sala.componentes.length > 0" v-bind:componente="sala.componentes[indiceSelecionado]"/>
                </v-col>
            </v-row>
        </v-container>
    </v-container>
</template>

<style>
    .componente-selecionado {
        background-color: grey;
    }

    a {
        color: black !important;
        text-decoration: none !important; /* no underline */
    }

    .slide-canva-sala {
        background-color: white;
        min-height: 60vh;
        padding: 15px 20px;
        margin: auto;
        position:relative;
        align-content: center;
        display: flex;
    }

</style>

<script>
    import {mapActions, mapState, mapMutations} from "vuex";
    import Slide from "../components/Slide/Slide";
    import SlideThumbnail from "../components/Slide/SlideThumbnail";
    import Toolbar from "../components/Slide/Toolbar";

    export default {
        name: 'Sala',

        components: {
            Slide,
            SlideThumbnail,
            Toolbar
        },

        data: () => ({
            nomeUsuario: '',
            nomeSala: '',
            idSala: '',
        }),

        computed: {
            ...mapState(['sala', 'salas', 'usuario', 'estado', 'requisicoes', 'alteracoes', 'indiceSelecionado']),
        },

        created() {
            this.idSala = this.$route.params.idsala;
            this.setEstado('editar-apresentacao');

            this.buscarSala(this.idSala).then((response) => {
                const sala = response.data;
                this.setSala(sala);

                if (!sala.componentes || (sala.componentes && sala.componentes.length === 0)) {
                    sala.componentes = [];
                    const componente = {
                        titulo: 'Sem título',
                        subtitulo: 'Sem nome',
                        tipo: 'heading',
                        configuracoes: {
                            exibirlikes: true,
                            exibirlink: true,
                            exibirpessoas: true,
                        }
                    };
                    sala.componentes.push(componente);
                    this.setAlteracoes(true);
                }



                /*setInterval(() => {
                    if (this.alteracoes) {
                        this.sala.usuarioModificacao = this.usuario._id;
                        this.client.send(this.filaws, {}, JSON.stringify(this.sala));
                    }

                }, 1250);*/

            });
        },

        methods: {
            ...mapActions(['criarUsuario', 'criarSala', 'entrarEmSala', 'buscarSala', 'salvarComponentes', 'setComponentes']),
            ...mapMutations(['setSala', 'setAlteracoes', 'setIndice', 'setEstado']),

            adicionarComponente: function () {
                const componente = {
                    titulo: 'Sem título',
                    subtitulo: 'Sem nome',
                    tipo: 'heading',
                    configuracoes: {
                        exibirlikes: true,
                        exibirpessoas: true,
                        exibirlink: true,
                    }
                };
                this.sala.componentes.push(componente);
                this.setIndice(this.sala.componentes.length - 1);
                this.setAlteracoes(true);
            },

            selecionarComponente: function (indice) {
                this.setIndice(indice);
            },

            apresentar() {
                this.$router.push(`/presentation/${this.idSala}`)
            },
        }
    }
</script>
