<template>
    <v-app>
        <v-app-bar app dark dense
                   v-if="!['live', 'live-nao-iniciada', 'live-apresentacao', 'live-finalizada'].includes(estado)">
            <div class="d-flex align-center">
                <v-toolbar-title>WebQuiz</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn @click="home" icon>
                    <v-icon>mdi-home</v-icon>
                </v-btn>
            </div>

        </v-app-bar>

        <v-content class="bg-app">
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<style>
    .bg-app {
        background-color: #f2f2f2;
    }
</style>

<script>
    import {mapState, mapActions, mapMutations} from 'vuex'

    export default {
        name: 'App',

        data: () => ({
            client: null,
            filaws: '',
            idSala: '',
            filalive: '',
        }),

        computed: {
            ...mapState(['salas', 'estado', 'alteracoes', 'usuario', 'requisicoes', 'sala', 'indiceSelecionado']),
        },

        created() {

            let Stomp = require("stompjs");
            const url = "ws://infra.brian.place:15674/ws";
            let wss = new WebSocket(url);
            this.client = Stomp.over(wss);
            this.client.reconnectDelay = 500;
            this.client.connect(
                'guest',
                'guest',
                this.connectCallback,
                this.errorCallback,
                '/'
            );

            const currentRoute = this.$router.currentRoute.fullPath;
            this.idSala = this.$route.params.idsala;
            this.filaws = '/exchange/alterar_componente_sala.' + this.idSala;

            if (currentRoute.includes('live')) {

                this.setEstado('live');

                //this.buscarSalas();
                //this.buscarUsuario();
                // n sei pq coloquei issso
                this.filalive = '/exchange/live.' + this.idSala;

            } else {

                setInterval(() => {
                    if (this.idSala) {
                        if (this.alteracoes && !this.requisicoes['salvarComponentes']) {
                            const salaBkp = JSON.parse(JSON.stringify(this.sala));
                            salaBkp.idUltimaAlteracao = this.usuario._id;
                            this.setSala(salaBkp);
                            this.client.send(this.filaws, {}, JSON.stringify(salaBkp));
                            this.salvarComponentes();
                        }
                    }

                }, 2000);
            }

            this.$root.$on('iniciar-live', () => {
                this.iniciarApresentacao(this.idSala).then(() => {
                    const filalive = '/exchange/live.' + this.idSala;
                    const json = {
                        indice: 0
                    };

                    this.client.send(filalive, {}, JSON.stringify(json));

                });
            });

        },

        methods: {
            ...mapActions(['adicionarSalaWebSocket', 'buscarSalas', 'buscarUsuario', 'setComponentes', 'setSala', 'salvarComponentes', 'setEstado', 'iniciarApresentacao']),
            ...mapMutations(['setIndice']),
            connectCallback() {

                // this.client.subscribe('/exchange/cadastrar_usuario', this.onMessageCadastrarUsuario);

                if (this.estado === 'live') {
                    this.client.subscribe(this.filalive, this.onMessagePassarPagina);
                    this.client.subscribe(this.filaws, this.onMessageAlteracaoComponente);
                } else if (this.estado === 'editar-apresentacao') {
                    this.client.subscribe(this.filaws, this.onMessageAlteracaoComponente);
                }
                // this.client.subscribe('/exchange/cadastrar_sala', this.onMessageCadastrarSala);

            },
            errorCallback(error) {
                console.log(error);

                if (this.estado === 'live') {
                    this.setEstado('live-nao-iniciada');
                }

                // this.$notify.toast('Erro ao conectar ao WebSocket', {color: 'error'})
            },
            onMessageCadastrarUsuario(message) {
                const messageJson = JSON.parse(message.body);
                this.$notify.toast('Todos deem boas vindas para ' + messageJson.nome, {color: 'info'})
            },
            onMessageCadastrarSala(message) {
                const messageJson = JSON.parse(message.body);
                this.adicionarSalaWebSocket(messageJson);
                this.$notify.toast('Uma nova sala foi criada! Nome: ' + messageJson.nome, {color: 'info'})
            },

            onMessageAlteracaoComponente(message) {
                const messageJson = JSON.parse(message.body);

                if (!this.alteracoes && messageJson.idUltimaAlteracao === this.usuario._id) {
                    this.setComponentes(messageJson.componentes);
                }
            },

            home() {
                this.$router.push('/')
            },

            onMessagePassarPagina(message) {
                const messageJson = JSON.parse(message.body);

                if (messageJson.encerrar) {
                    this.setEstado('live-finalizada');
                } else if (messageJson.item && messageJson.componente) {
                    const salaBkp = JSON.parse(JSON.stringify(this.sala));
                    salaBkp.componentes[this.indiceSelecionado].quiz.options.answers[messageJson.item - 1].votes++;
                    this.setSala(salaBkp);
                } else {
                    this.setIndice(messageJson.indice);
                }
            },

        }
    };
</script>
