<template>
    <v-card fill-height tile :color="selecionado ? '#E0E0E0' : ''"
            :outlined="selecionado"
            :raised="selecionado"
            class="mx-auto card-principal-thumb">

        <v-container fill-height fluid>
            <div class="slide-canva-thumb" v-if="componente.tipo === 'heading'">
                <v-row justify="center">
                    <v-col sm="12" class="text-center">
                        <div class="text-titulo-thumbnail">{{ componente.titulo }}</div>
                        <div class="text-subtitulo-thumbnail">{{ componente.subtitulo }}</div>
                    </v-col>
                </v-row>
            </div>
            <div class="slide-canva-thumb" v-if="componente.tipo === 'paragraph'" >
                <div class="slide-canva-texto-titulo">
                    {{ componente.titulo }}
                </div>
                <div class="slide-canva-texto-area">
                    {{ componente.texto }}
                </div>
            </div>
            <div class="slide-canva-thumb" v-if="componente.tipo === 'quiz'">
                Quiz!
            </div>

        </v-container>
    </v-card>
</template>

<style scoped>

    .slide-canva-thumb {
        background-color: white;
        padding: 15px 20px;
        margin: auto;
        position:relative;
        align-content: center;
        display: flex;
    }

    .card-principal-thumb {
        height: 8vw;
        width: 16vw;
    }

    .text-titulo-thumbnail {
        white-space: normal;
        text-align: justify;
        -moz-text-align-last: center; /* Firefox 12+ */
        text-align-last: center;
        font-size: 0.72em;
        padding: 15px;
    }

    .text-subtitulo-thumbnail {
        white-space: normal;
        text-align: justify;
        -moz-text-align-last: center; /* Firefox 12+ */
        text-align-last: center;
        font-size: 0.5em;
    }
</style>

<script>

    export default {
        name: 'SlideThumbnail',

        components: {
        },

        props: {
            componente: Object,
            selecionado: Boolean
        },
    }
</script>
