<template>
    <v-container>
        <div class="slide-canva" v-if="sala.componentes && sala.componentes.length > 0">
            <div class="slide-header">
                <v-row>
                    <v-col sm="6">
                        <span v-if="sala.componentes[indiceSelecionado].configuracoes.exibirpessoas"><v-icon>mdi-account</v-icon> <span class="grey--text pessoas">{{ sala.participantes.length }}</span></span>
                    </v-col>
                    <v-col sm="6">
                        <span v-show="sala.componentes[indiceSelecionado].configuracoes.exibirlink" class="instrucao-acesso">Acesse <strong>quizzer.com</strong> com o código 870 512</span>
                    </v-col>
                </v-row>
            </div>
            <div class="container-slide">
                <div v-if="sala.componentes[indiceSelecionado].tipo === 'heading'" class="text-center">
                    <div class="slide-canva-texto-titulo">
                        {{ sala.componentes[indiceSelecionado].titulo }}
                    </div>
                    <div class="slide-canva-texto-subtitulo">
                        {{ sala.componentes[indiceSelecionado].subtitulo }}
                    </div>
                </div>
                <div v-if="sala.componentes[indiceSelecionado].tipo === 'paragraph'" class="text-center">
                    <div class="slide-canva-texto-titulo">
                        {{ sala.componentes[indiceSelecionado].titulo }}
                    </div>
                    <div class="slide-canva-texto-area">
                        {{ sala.componentes[indiceSelecionado].texto }}
                    </div>
                </div>
                <div v-if="sala.componentes[indiceSelecionado].tipo === 'quiz'">
                    <vue-poll v-bind="sala.componentes[indiceSelecionado].quiz.options" @addvote="addVote"/>
                </div>
            </div>
            <div class="slide-footer">
                <span v-if="sala.componentes[indiceSelecionado].configuracoes.exibirlikes"><v-icon>mdi-heart</v-icon>
                    <span class="grey--text likes">{{ sala.componentes[indiceSelecionado].likes ?  sala.componentes[indiceSelecionado].likes : 0 }}</span>
                </span>
            </div>
        </div>
    </v-container>

</template>

<style>
    .slide-canva {
        background-color: white;
        padding: 15px 20px;
        margin: auto;
        position:relative;
        align-content: center;
        display: flex;
    }

    .slide-canva-texto-titulo {
        font-size: 3.8em;
        word-break: break-word;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-weight: bold;
    }

    .slide-canva-texto-subtitulo {
        font-weight: lighter;
        font-size: 2.8em;
    }

    .slide-canva-texto-area {
        word-break: break-word;
        font-size: 1em;
    }

    .container-slide {
        margin: auto;
    }

    .slide-footer {
        position:absolute;
        bottom: 2.5%;
        right: 1.5%;
        align-self: end;
    }

    .instrucao-acesso {
        position: absolute;
        right: 35%;
    }

    .pessoas {
        font-size: 1.3em;
    }

    .likes {
        font-size: 1.3em;
    }
</style>

<script>
    import {mapMutations, mapState, mapActions} from "vuex";
    import VuePoll from './Pool/Pool'

    export default {
        name: 'Slide',

        components: {
            VuePoll
        },

        computed: {
            ...mapState(['alteracoes', 'sala', 'indiceSelecionado']),
        },

        data: () => ({
            nomeUsuario: '',
            nomeSala: '',
        }),

        created() {
            const currentRoute = this.$router.currentRoute.fullPath;

            if (currentRoute.includes('live')) {
                //
            }
        },

        methods: {
            ...mapMutations(['setAlteracoes']),
            ...mapActions(['votarEnquete', 'setSala']),

            setAlteracoesHandleSubTitulo(alteracao) {
                if (this.componente.subtitulo.length < 28) {
                    this.setAlteracoes(alteracao);
                } else {
                    this.componente.subtitulo = this.componente.subtitulo.slice(0, -1);
                    this.$notify.toast('Limite de 28 caracteres!', {color: 'warning'})
                }
            },

            setAlteracoesHandleTitulo(alteracao) {
                if (this.componente.titulo.length < 28) {
                    this.setAlteracoes(alteracao);
                } else {
                    this.componente.titulo = this.componente.titulo.slice(0, -1);
                    this.$notify.toast('Limite de 28 caracteres', {color: 'warning'})
                }
            },

            addVote(obj){

                this.votarEnquete({idSala: this.sala._id, item: obj.value}).then(() => {
                    const salaBkp = JSON.parse(JSON.stringify(this.sala));
                    salaBkp.componentes[this.indiceSelecionado].quiz.options.answers[obj.value-1].votes--;
                    this.setSala(salaBkp);
                });
                // console.log('You voted ' + obj.value + '!');
            }
        }
    }
</script>
