<template>
    <v-card fill-height class="mx-auto" tile>
        <v-bottom-navigation v-model="bottomNav">
            <v-btn @click="estado = 'edit'">
                <span>Editar</span>
                <v-icon>mdi-pencil</v-icon>
            </v-btn>

            <v-btn @click="estado = 'layout'">
                <span>Layout</span>
                <v-icon>mdi-grid-large</v-icon>
            </v-btn>

            <v-btn @click="estado = 'config'">
                <span>Opções</span>
                <v-icon>mdi-cogs</v-icon>
            </v-btn>
        </v-bottom-navigation>
        <v-row v-if="estado === 'edit'" justify="center">
            <v-card-text v-if="sala.componentes[indiceSelecionado].tipo === 'heading'">
                <v-col sm="12" class="text-center">
                    <v-form ref="form">
                        <v-text-field
                                label="Título"
                                v-model="sala.componentes[indiceSelecionado].titulo"
                                v-on:keypress="setAlteracoesHandleSubTitulo(true)"
                                outlined/>
                        <v-text-field
                                label="Sub-título"
                                v-model="sala.componentes[indiceSelecionado].subtitulo"
                                v-on:keypress="setAlteracoesHandleSubTitulo(true)"
                                outlined/>
                    </v-form>
                </v-col>
                <v-col sm="12" class="text-center">

                </v-col>
            </v-card-text>
            <v-card-text v-if="sala.componentes[indiceSelecionado].tipo === 'paragraph'">
                <v-col sm="12" class="text-center">
                    <v-form ref="form">
                        <v-text-field
                                label="Título"
                                v-model="sala.componentes[indiceSelecionado].titulo"
                                v-on:keypress="setAlteracoesHandleSubTitulo(true)"
                                outlined/>
                        <v-textarea
                                label="Texto"
                                v-model="sala.componentes[indiceSelecionado].texto"
                                v-on:keypress="setAlteracoesHandleSubTitulo(true)"
                                outlined/>
                    </v-form>
                </v-col>
                <v-col sm="12" class="text-center">

                </v-col>
            </v-card-text>

            <v-card-text v-if="sala.componentes[indiceSelecionado].tipo === 'quiz'">
                <v-col sm="12" class="text-center">
                    <v-form ref="form">
                        <v-text-field label="Pergunta" outlined
                                v-model="sala.componentes[indiceSelecionado].quiz.options.question"
                                v-on:keypress="setAlteracoes(true)" />
                        <v-form ref="form" v-for="(resposta, index) in sala.componentes[indiceSelecionado].quiz.options.answers" v-bind:key="resposta.value">
                            <v-text-field :label="'Resposta ' + (index+1)" v-model="resposta.text" outlined @change="setAlteracoes(true)"/>
                        </v-form>
                        <v-btn text small v-on:click="removerResposta()" color="red darken-2">Remover Resposta</v-btn>
                        <v-btn text small v-on:click="adicionarResposta()" :disabled="sala.componentes[indiceSelecionado].quiz.options.answers.length >= 6">Adicionar Resposta</v-btn>
                    </v-form>
                </v-col>
                <v-col sm="12" class="text-center">

                </v-col>
            </v-card-text>
        </v-row>
        <v-row v-if="estado === 'layout'" justify="center">
            <v-card-text>

                <v-row>
                    <v-col>
                        <h3>Conteúdo</h3>

                        <v-card width="7em" @click="setTipo('heading')" class="d-inline-block mx-auto text-center"
                                :color="sala.componentes[indiceSelecionado].tipo === 'heading' ? 'grey lighten-2' : 'white'">
                            <v-container>
                                <v-row justify="center">
                                    <v-col cols="auto">
                                        Heading
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card>

                        <v-card width="7em" @click="setTipo('paragraph')" class="d-inline-block mx-auto text-center"
                                :color="sala.componentes[indiceSelecionado].tipo === 'paragraph' ? 'grey lighten-2' : 'white'">
                            <v-container>
                                <v-row justify="center">
                                    <v-col cols="auto">
                                        Paragraph
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col>
                        <h3>Perguntas e Respostas</h3>

                        <v-card width="7em" @click="setTipo('quiz')" class="d-inline-block mx-auto"
                                :color="sala.componentes[indiceSelecionado].tipo === 'quiz' ? 'grey lighten-2' : 'white'">
                            <v-container>
                                <v-row justify="center">
                                    <v-col cols="auto">
                                        Quiz
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card>
                    </v-col>
                </v-row>

            </v-card-text>
        </v-row>
        <v-row v-if="estado === 'config'" justify="center">
            <v-card-text>
                <v-col sm="12" class="text-center">
                    <v-form ref="form">
                        <v-checkbox hide-details v-model="sala.componentes[indiceSelecionado].configuracoes.exibirlikes"
                                    @change="setAlteracoes(true)" label="Permitir likes"/>
                        <v-checkbox hide-details v-model="sala.componentes[indiceSelecionado].configuracoes.exibirlink"
                                    @change="setAlteracoes(true)" label="Exibir link"/>
                        <v-checkbox hide-details
                                    v-model="sala.componentes[indiceSelecionado].configuracoes.exibirpessoas"
                                    @change="setAlteracoes(true)" label="Exibir pessoas"/>
                    </v-form>
                </v-col>
            </v-card-text>

            <v-card-text v-if="sala.componentes[indiceSelecionado].tipo === 'quiz'">
                <v-col sm="12" class="text-center">
                    <v-form ref="form">
                        <v-checkbox hide-details v-model="sala.componentes[indiceSelecionado].quiz.options.showTotalVotes"
                                    @change="setAlteracoes(true)" label="Mostrar total de votos"/>
                        <v-checkbox hide-details v-model="sala.componentes[indiceSelecionado].quiz.options.showResults"
                                    @change="setAlteracoes(true)" label="Mostrar valores"/>
                    </v-form>
                </v-col>
            </v-card-text>

            <v-btn text small v-on:click="apagarSlideAtual()" color="red darken-2"><v-icon color="red darken-2">mdi-delete</v-icon> Apagar</v-btn>
        </v-row>
    </v-card>
</template>

<style>

    .selecionado {
        background-color: black;
    }

</style>

<script>
    import {mapMutations, mapState} from "vuex";

    export default {
        name: 'Toolbar',

        props: {
            componente: Object,
            thumbnail: {
                type: Boolean,
                default: false,
            }
        },

        computed: {
            ...mapState(['alteracoes', 'sala', 'indiceSelecionado']),
        },

        data: () => ({
            bottomNav: '',
            nomeUsuario: '',
            nomeSala: '',
            estado: 'edit'
        }),

        created() {
            console.log('aqui')
        },

        methods: {
            ...mapMutations(['setAlteracoes', 'setIndice']),

            setAlteracoesHandleSubTitulo(alteracao) {
                if (this.componente.subtitulo.length < 28) {
                    this.setAlteracoes(alteracao);
                } else {
                    this.componente.subtitulo = this.componente.subtitulo.slice(0, -1);
                    this.$notify.toast('Limite de 28 caracteres!', {color: 'warning'})
                }
            },

            setAlteracoesHandleTitulo(alteracao) {
                if (this.componente.titulo.length < 28) {
                    this.setAlteracoes(alteracao);
                } else {
                    this.componente.titulo = this.componente.titulo.slice(0, -1);
                    this.$notify.toast('Limite de 28 caracteres', {color: 'warning'})
                }
            },

            setTipo(tipo) {
                this.componente.tipo = tipo;

                if (tipo === 'quiz') {
                    this.componente.quiz = {
                        options: {
                            question: `Como está sendo seu dia hoje?`,
                            finalResults: false,
                            showResults: false,
                            answers: [
                                { value: 1, text: 'Bom', votes: 0 },
                                { value: 2, text: 'Ruim', votes: 0 },
                            ]
                        }
                    }
                }

                this.setAlteracoes(true);
            },

            adicionarResposta() {
                const perguntas = this.componente.quiz.options.answers.length + 1;
                this.componente.quiz.options.answers.push({ value: perguntas, text: 'Alternativa ' + perguntas, votes: 0 });
                this.setAlteracoes(true);
            },

            removerResposta() {
                this.componente.quiz.options.answers.pop();
                this.setAlteracoes(true);
            },

            apagarSlideAtual() {
                if (this.sala.componentes.length > 1) {
                    this.sala.componentes.splice(this.indiceSelecionado, 1);
                    this.setIndice(this.indiceSelecionado - 1);
                    this.setAlteracoes(true);
                } else {
                    this.$notify.toast('Você não pode apagar o único slide que tem.', {color: 'error'});
                }
            }
        }
    }
</script>
